{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/transactions/transaction-index.css' %}"
/>
{% endblock head %} {% block content %}
<section class="card-container">
  {% for transaction in transactions %}
  <div class="card">
    <a href="{% url 'transaction-detail' transaction.id %}">
      <div class="card-info">
        <div class="avatar">
          <img
            src="{% static 'images/landing-img.jpg' %}"
            alt="placeholder-avatar"
          />
        </div>

        <div class="information">
          <h3>
            <span>{{ transaction.sender }}</span> paid
            <span>{{ transaction.receiver }}</span>
          </h3>
          <h4>{{ transaction.created_at|date:"m/d/y g:i A" }}</h4>
        </div>

        <div class="amount"><h3>${{ transaction.amount }}</h3></div>
      </div>

      <div class="card-note">
        <h3>{{ transaction.note }}</h3>
      </div>
    </a>
  </div>
  {% endfor %}
</section>
{% endblock content %}
