/* -------- top ----- */
.top {
  margin: 40px auto;
}

.top h1 {
  font-size: var(--font-xtreme);
}

.top .profile-avatar {
  margin: 40px 0;
  display: flex;
  justify-content: center;
}

.top .profile-avatar img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.top h2 {
  color: var(--text-color);
  font-weight: 500;
  font-size: var(--font-xl);
}

.top h2 span {
  color: var(--secondary);
  font-weight: 600;
  font-size: var(--font-xxl);
}

.transaction-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
  font-size: var(--font-l);
  font-weight: 400;
  margin-top: 40px;
}

.transaction-btns .pay {
  background-color: white;
  color: var(--secondary);
  padding: 10px 40px;
  border: 4px solid var(--button-bg);
  border-radius: 20px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.transaction-btns .pay:hover {
  background-color: var(--button-bg);
  color: white;
}

.transaction-btns .add {
  background-color: var(--button-bg);
  color: var(--secondary);
  padding: 14px 44px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.transaction-btns .add:hover {
  background-color: var(--button-bg-hover);
}

/* -------- bottom ------ */
.bottom {
  padding: 0 0 32px 0;
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  margin: 0 auto;
  column-gap: 32px;
  row-gap: 32px;
}

.card {
  display: flex;
  flex-direction: column;
  flex-basis: calc(50% - 16px);
  padding: 10px;
  border: 3px solid var(--button-bg);
  border-radius: 20px;
}

.card-info {
  display: flex;
  align-items: center;
  width: 100%;
}

.card-info .avatar {
  margin: 10px 10px 0 10px;
}

.card-info .avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card-info .information {
  margin: 10px 10px 0 10px;
  text-align: start;
  flex: 1;
}

.card-info .information span {
  font-weight: 600;
  font-size: var(--font-l);
}

.card-info .information h4 {
  margin: 0;
  color: #787878;
  font-size: var(--font-reg);
  font-weight: 300;
}

.amount .red {
  color: #a62c2c;
  font-size: var(--font-l);
  font-weight: 700;
  margin-right: 10px;
}

.amount .green {
  color: #52db7f;
  font-size: var(--font-l);
  font-weight: 700;
  margin-right: 10px;
}

.card-note {
  text-align: start;
  margin: 16px 0 0 16px;
}

.circle {
  width: 100px; /* Set the width of the circle */
  height: 100px; /* Set the height of the circle */
  border-radius: 50%; /* Makes it a circle */
}
