.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title a {
  margin: 50px;
}

.title a img {
  width: 70px;
}

.title h1 {
  font-size: var(--font-xtreme);
  color: var(--secondary);
  margin: 0 auto;
  padding-right: 150px;
}

.transaction-details {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.transaction-details .avatar {
  margin-top: 32px;
}

.transaction-details .avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.transaction-details .information {
  margin-top: 16px;
}

.transaction-details .information span {
  font-weight: 600;
  font-size: var(--font-l);
}

.transaction-details .information h4 {
  margin-top: 12px;
  color: #787878;
  font-size: var(--font-reg);
  font-weight: 300;
}

.amount h3 {
  color: var(--secondary);
  font-size: var(--font-l);
  font-weight: 700;
}

.transaction-details .card-note {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-note h3 {
  margin: 0;
}

.card-note a {
  margin-left: 12px;
}

.comments-container {
  display: flex;
  flex-direction: column;
}

.comments-container form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.comments-container form p {
  display: flex;
  align-items: center;
}

.comments-container form label {
  font-size: var(--font-l);
  font-weight: 400;
}

.comments-container form textarea {
  width: 594px;
  height: 44px;
  padding: 10px;
  font-size: var(--font-reg);
  border: 2px solid #0a6847;
  border-radius: 14px;
  color: var(--text-color);
  margin-left: 40px;
  resize: none;
}

.comments-container .btn.submit {
  background-color: var(--button-bg);
  color: var(--secondary);
  font-size: var(--font-l);
  padding: 10px 60px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}

.comments-container .btn.submit:hover {
  background-color: var(--button-bg-hover);
}

.comments {
  padding: 32px 0;
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  margin: 0 auto;
  column-gap: 32px;
  row-gap: 32px;
}

.card {
  display: flex;
  flex-direction: column;
  flex-basis: calc(50% - 16px);
  padding: 10px;
  border: 3px solid var(--button-bg);
  border-radius: 20px;
}

.card-info {
  display: flex;
  align-items: center;
  width: 100%;
}

.card .avatar {
  margin: 10px 10px 0 10px;
}

.card .avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card-info .information {
  margin: 10px 10px 0 10px;
  text-align: start;
  flex: 1;
}

.card-info .information h3 {
  font-weight: 600;
  font-size: var(--font-l);
}

.card-info .information h4 {
  margin: 0;
  color: #787878;
  font-size: var(--font-reg);
  font-weight: 300;
}

.comments a img {
  margin-right: 10px;
}

.card-note {
  text-align: start;
  margin: 16px 0 0 16px;
}
